{%- if site.data.config %}
<!-- Main Footer -->
<footer class="main-footer style-two">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!--Column-->
                {% if site.data.config.footer.pages_enabled %}
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <h3>{{ site.data.config.footer.pages_title }}<span>.</span></h3>
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="{{site.url}}">Home</a></li>
                                        {%- for item in site.data.config.footer.pages limit:5 %}
                                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                                        {%- endfor %}
                                    </ul>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-12">
                                    <ul>
                                        {%- for item in site.data.config.footer.pages offset:5 %}
                                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                                        {%- endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if site.data.config.footer.posts_enabled and site.posts %}
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget news-widget">
                        <h3>{{ site.data.config.footer.news_title }}<span>.</span></h3>
                        <div class="widget-content">
                            {%- for post in site.posts limit: 3 %}
                            <div class="news-post">
                                {%- if post.post_image %}
                                <div class="post-thumb">
                                    <a href="{{post.url}}">
                                        <img src="{{post.post_image}}" alt="{{post.title}}"/>
                                    </a>
                                </div>
                                {%- endif %}
                                <h5><a href="{{post.url}}">{{post.title | truncatewords: 5}}</a></h5>
                            </div>
                            {%- endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {%- if site.data.config.footer.newsletter and site.data.config.footer.newsletter.enabled %}
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <h3>{{ site.data.config.footer.newsletter.title }}<span>.</span></h3>
                        <div class="widget-content">
                            <div class="newsletter-form">
                                <form action="{{ site.data.config.footer.newsletter.action }}">
                                    <div class="form-group clearfix">
                                        <span class="input-icon fa {{ site.data.config.footer.newsletter.icon }}"></span>
                                        <input type="email" name="user_email" placeholder="{{ site.data.config.footer.newsletter.placeholder }}" required>
                                        <button type="submit" class="theme-btn newsletter-btn">{{ site.data.config.footer.newsletter.submit }}</button>
                                    </div>
                                </form>
                            </div>
                            {%- if site.data.config.footer.newsletter.get_link %}
                            <div class="get-link">
                                {%- if site.data.config.footer.newsletter.get_link %}
                                <a href="{{ site.data.config.footer.newsletter.get_link }}">
                                    {{ site.data.config.footer.newsletter.get_link_title }}
                                </a>
                                {%- else %}
                                    {{ site.data.config.footer.newsletter.get_link_title }}
                                {%- endif %}
                            </div>
                            {%- endif %}
                        </div>
                    </div>
                </div>
                {%- endif %}
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    {% if site.copyright_text %}
    <div class="footer-bottom-two">
        <div class="auto-container">
            <div class="copyright">{{site.copyright_text}}</div>
        </div>
    </div>
    {% endif %}
</footer>
{%- endif %}