{%- if site.data.roadmap and site.data.roadmap.items %}
{%- assign roadmap = site.data.roadmap %}
<section class="roadmap">
    <div class="sec-title-three centered">
        <div class="sub-title">{{ roadmap.sub_title }}</div>
        <h2>{{ roadmap.title }}</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="roadmap-content">
                <div class="roadmap-slider-trumb"></div>
                <div id="roadmap-slider-circle">
                    {% for item in roadmap.items %}
                    <div style="left:{{ item.positon }}" class="data_cir cir_0">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        {% for text in item.info %}
                                        <li><span>{{ text }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <span class="roadmap_img">{{ item.release }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}